@import url(https://fonts.googleapis.com/css?family=Poppins:500,700,800);
@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps);
@import url(https://fonts.googleapis.com/css?family=Metamorphous);

:root{
   --green:#00E77F;
   --royal-green: #136207;
   --white:#fff;
   --light-white:#aaa;
   --black:#3d3d3d;
   --light-bg:#4b4b4b;
   --royal-gold: #F5BD02;
}

* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   outline: none; 
   border: none;
   list-style: none;
   text-decoration: none;
   transition: .2s linear;
   text-transform: capitalize;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
  backdrop-filter: blur(10px);
  color: var(--white);
}

body::before {
  opacity: 0.5;
}

*::selection {
  background-color: var(--white);
  color: var(--white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

section {
  position: relative;
  padding: 2rem 10%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  border: 2px solid var(--white);
  border-radius: .5rem;
  color: var(--white);
  font-size: 3rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: all .5s ease-in-out;
}

.btn:hover {
  color: var(--royal-green);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  left: 0;
  z-index: -1000;
  color: var(--royal-green);
  background-color: var(--royal-gold);
  transition: all .5s ease-in-out;
}

.btn:hover::before {
  width: 100%;
}

::-webkit-scrollbar {
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--royal-gold);
  border-radius: 5rem;
}

.header {
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  align-items: center;
  padding: 1.5em;
  background-attachment: fixed;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  transition: all 0.3s ease-in-out;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.img_logo img {
  border: none;
  max-width: 80px;
  max-height: 80px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.img_logo:hover {
  transform: scale(1.1);
}

.logo {
  font-weight: 700;
  font-size: 4rem;
  color:var(--royal-gold);
  text-align: center;
}

#shop {
  color:var(--royal-green);
  text-transform: uppercase;
}

.logo h1 {
  text-transform: uppercase;
}

.logo:hover h1 {
  transform: scale(1.1);
}

ul {
  display: flex;
}

li, a {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--royal-gold);
}

#logo__beneath {
  font-size: 1.6rem;
  position: absolute;
  right: 42%;
  top: 70%;
  font-weight: 100;
  color: var(--royal-gold);
  text-transform: capitalize;
}

.shop__list {
  position: relative;
}

.shop__list a {
  display: flex;
}

.shop__menu {
  display: none;
  position: absolute;
  padding: 10rem;
  margin: .1rem .1rem;
  width: 1500px;
  background-color: var(--white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.shop__menu li a {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-size: 1.5rem;
  color: var(--royal-gold);
}

.sub__menu {
  position: absolute;
  padding: 2rem;
  margin: 5rem 5rem;
  background-color: var(--white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
  border-radius: 1rem;
  display: none;
}

.shop__list:hover .shop__menu {
  display: block;
}

.shop__menu::before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--white);
  padding: 2rem;
  border: 4rem;
}

.sub__menu2 {
  display: none;
}

.header .navbar  a {
  margin-left: 2rem;
  color: var(--royal-gold);
  font-size: 2rem;
  text-transform: capitalize;
}

.header .navbar a:hover{
  color:var(--royal-green);
}

#menu-btn{
  cursor: pointer;
  color:var(--white);
  font-size: 2.5rem;
  display: none;
}

.useful__links {
  display: block;
}

.btn__div {
  display: flex;
}

.btn__div .fa-search {
  font-size: 3rem;
  background: transparent;
  color: var(--royal-gold);
  cursor: pointer;
}

.fa-search:hover {
  color:var(--royal-green);
}

.home {
  position: relative;
  width: 2000px; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
  margin-top: 7.5rem;
  padding: 4rem 0;
}

.card {
  position: relative;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  background-position: center;
  background-attachment:scroll;
  background: url('../Assets/header_bg.png') no-repeat;
  background-size: cover;
}

.card__content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  row-gap: 2rem;
  text-align: justify;
  width: 50%;
  z-index: 1000;
  justify-content: center;
  align-items: first baseline;
  margin-left: 40%;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.card__content:hover {
  backdrop-filter: blur(10px);
}

.card__content h3 {
  font-size: 8rem;
  color: var(--royal-green);
  text-transform: uppercase;
}

.card__content h3::before {
  content: '';
  position: absolute;
  width: 50%;
  z-index: 1;
  top: 38%;
  left: 2rem;
  background-color: var(--royal-green);
  right: 0;
  height: 1rem;
  transform: scaleX(0);
  transition: all .5s linear;
}

.card__content h3:hover::before {
  width: 60%;
  transform: scaleX(1);
}

.card__content h1 {
  font-size: 5rem;
  text-transform: capitalize;
}

.card__content h1::before {
  content: '';
  display: flex;
  position: absolute;
  width: 0;
  bottom: 49%;
  z-index: -1;
  height: 8%;
  background-color: var(--royal-gold);
  transition: all .5s ease-in-out;
}

.card__content h1:hover::before {
  width: 70%;
}

.card__content p {
  font-size: 2rem;
  width: 90%;
  text-transform: capitalize;
  text-align: start;
}

.card__content p::before {
  content: '';
  position: absolute;
  width: 90%;
  bottom: 36%;
  z-index: -1;
  height: 0;
  background-color: var(--royal-green);
  transition: all .5s ease-in-out;
}

.card__content p:hover::before {
  height: 12%;
}


.swiper-navBtn {
  color: var(--royal-gold);
  transition: color .3s ease;
}

.swiper-navBtn:hover {
  color: var(--royal-green);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 4rem;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev  {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--royal-gold);
  opacity: 1;
  transition: all .3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--royal-green);
}

.new__arr {
  width: 3400px;
  height: 140vh;
  align-items: center;
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100%, 1fr));
  overflow: hidden;
  margin: 4rem auto;
}


.new__arr .container {
  display: flex;
  flex: 1;
  width: 2000px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem 10%;
}

.col__1 {
  position: absolute;
  background: url(../Assets/new_arrival_bg.png);
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
  top: 0;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  min-width: 1000px;
  transition: all 0.3s ease-in-out;
}

.col__1 h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--black);
  position: absolute;
  top: 10%;
  left: 5%;
  font-weight: 100;
}

.col__1 p {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--light-bg);
  position: absolute;
  top: 18%;
  width: 50%;
  left: 5%;
  font-weight: 100;
}

.col__1 p::first-letter {
  text-transform: capitalize;
}

.col__2 {
  position: absolute;
  background: url(../Assets/woman\ fashion\ two.jpg);
  background-size: cover;
  border-radius: .5rem;
  background-position: center;
  min-width: 500px;
  height: 80vh;
  top: 0;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: all 0.3s ease-in-out;  
}

.col__2 h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--white);
  position: absolute;
  top: 90%;
  left: 5%;
  font-weight: 100;
}

.col__3 {
  position: absolute;
  background: url(../Assets/accessories\ \(2\).jpg);
  background-size: cover;
  border-radius: .5rem;
  border: .2rem dotted var(--black);
  background-position: center;
  min-width: 720px;
  height: 50vh;
  top: 65%;
  left: 4%;
  row-gap: 1rem;
  padding: 2rem 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  transition: all .5s ease-in-out;
}

.col__3:hover {
  border: none;
}

.col__3 h3 {
  color: var(--light-white);
  font-size: 3rem;
  text-transform: capitalize;
}

.col__3 p {
  color: var(--white);
  font-size: 2rem;
  width: 50%;
}

.col__3 a {
  text-transform: uppercase;
  color: var(--white);
  border: .2rem solid var(--white);
  padding: .5rem 1rem;
  border-radius: .5rem;
}

.col__3 a:hover {
  color: var(--black);
  border: .2rem solid var(--black);
}

.col__3 .blur_bg:hover {
  opacity: 1;
  -webkit-filter: blur(1px);
  filter: blur(5px);
}

.col__4 {
  position: absolute;
  background: url(../Assets/sale_bg.png);
  background-size: cover;
  border-radius: .5rem;
  background-position: center;
  min-width: 720px;
  height: 50vh;
  top: 65%;
  left: 28.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: all 0.3s ease-in-out; 
  opacity: .87;
}

.col__4 .blur_bg {
  position: absolute;
  background: url(../Assets/sale_bg.png);
  background-size: cover;
  border-radius: .5rem;
  background-position: center;
  min-width: 720px;
  height: 50vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 0;
  transition: all .5s linear;
}

.col__4 .blur_bg:hover {
  opacity: 1;
  filter: blur(5px);
}

.col__4 h3 {
  font-size: 16rem;
  font-family: 'Elsie Swash Caps', cursive;
  text-transform: uppercase;
  position: absolute;
  top: 18%;
}

.col__4 span {
  font-size: 4rem;
  text-transform: uppercase;
  top: 49%;
  left: 27%;
  position: absolute;
  letter-spacing: 1px;
}

.col__4 button {
  position: absolute;
  top: 52%;
  right: 26%;
  font-family: 'Metamorphous', cursive;
  font-weight: 100;
  font-size: 6rem;
  color: var(--white);
  padding: .4rem 3rem;
  background-color: transparent;
  border: .4rem solid var(--white);
}

.holiday {
  position: relative;
  background: url('../Assets/holiday_bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  margin: 8rem auto;
  height: 80vh;
  max-width: 2000px;
}

.holiday .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.holiday .container h3 {
  font-size: 8rem;
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 100;
  color: var(--white);
  width: 70%;
  text-align: center;
  letter-spacing: 5px;
  transition: .5s;
}

.holiday .container p {
  font-size: 1.5rem;
  text-align: center;
  width: 40%;
  margin-top: 3rem;
  line-height: 2.4rem;
  text-transform: none;
}

.holiday .container p::first-letter {
  text-transform: capitalize;
}

.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.gallery .slide-button {
  font-size: 6rem;
  color: var(--light-white);
  z-index: 1;
  padding: 2rem;
  position: absolute;
  display: flex;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.gallery .slide-button:hover {
  color: var(--royal-green);
}

.gallery .slide-button #prev-slide {
  position: absolute;
  right: 12em;
}

.gallery .slide-button #next-slide {
  position: absolute;
  left: 12em;
}

.gallery h2 {
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--royal-gold);
  margin-bottom: -1.5rem;
}

.gallery span {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--light-white);
}

.slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.scrollbar-track {
  height: 2px;
  width: 100%;
  background-color: var(--light-white);
  position: relative;
  border-radius: 4px;
}

.scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: var(--black);
  cursor: grab;
  border-radius: inherit;
}

.scrollbar-thumb::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slide-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3000px;
  min-width: 100vw;
  padding: 2rem 10%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.slide-wrapper::-webkit-scrollbar {
  display: none;
}


.gallery .slide-wrapper .image_gallery .image_card {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 20px;
}

.image_card_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 325px;
  border-radius: 4px;
  background-color: var(--royal-gold);
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.image_card_content #fav_heart {
  display: none;
  font-size: 3rem;
  color: red;
  position: absolute;
  top: 5%;
  right: 10%;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.image_card_content #heart {
  font-size: 3rem;
  color: var(--white);
  position: absolute;
  top: 5%;
  right: 10%;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.image_card_content .cart-text {
  font-size: 3rem;
  color: var(--black);
  position: absolute;
  top: 5%;
  right: 10%;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.image_card_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.image_card_content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--white);
  position: absolute;
  top: 88%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in-out;
}

.image_card_content p {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--white);
  position: absolute;
  top: 95%;
  left: 16%;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in-out;
}

.image_gallery .image_card .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.img__slider  img {
  border-radius: 4rem;
  border-style: none;
  justify-content: space-between;
  margin-left: 4rem;
  padding: 2rem;
  object-fit: cover;
  width: 400px;
  height: 50vh;
  cursor: pointer;
  animation-name: slider;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.img__slider  img:hover {
  transform: scale(1.1);
}


@keyframes slider {
  0% {
    transform: translate(0px);
  }
  20% {
    transform: translate(0px);
  }
  25% {
    transform: translate(800px);
  }
  45% {
    transform: translate(800px);
  }
  50% {
    transform: translate(1600px);
  }
  75% {
    transform: translate(2400px);
  }
  95% {
    transform: translate(2400px);
  }
  100% {
    transform: translate(0px);
  }
}
.gallery__wrapper:hover img {
  animation-play-state: paused;
}


.video_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
  position: sticky;
}

.video_container video {
  width: 100%;
  height: auto;
  border: 1px solid var(--royal-green);
  border-radius: .5rem;
}

.essential__delivery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background: url('../Assets/banner.png') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 10%;
  margin: 8rem auto;
}

.essential__delivery .essential__delivery__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.essential__delivery .essential__delivery__content h3 {
  font-size: 10rem;
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 100;
  color: var(--white);
  width: 70%;
  text-align: center;
  letter-spacing: 5px;
}

.editorial {
  height: 100%;
  width: 100vw;  
  display: block;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bg);
}

.editorial h3 {
  font-size: 3rem;
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 100;
  color: var(--light-white);
  /* width: 70%; */
  text-align: center;
  letter-spacing: 5px;
}

.editorial span {
  font-size: 1.5rem;
  color: var(--light-white);
  position: absolute;
  top: 3%;
  left: 45%;
}

.editorial__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  align-items: center;  
  gap: 30px;
  margin-top: 6rem;
}

.editorial__card {
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.editorial__card img {
  width: 650px;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
}

.editorial__card img:hover {
  transform: scale(.95);
  opacity: .5;
}

.editorial__card__content {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.editorial__card__content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  transition: all .4s ease-in-out;
  animation-delay: 2s;
}

.editorial__card:hover .editorial__card__content {
  display: flex;
}

.editorial__card__content h3 {
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  letter-spacing: normal;
  color: var(--white);
  position: absolute;
  top: 10%;
  left: 10%;
  font-weight: 100;
}

.editorial__card__content h3:hover {
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
  text-decoration: underline;
}

.editorial__card__content p {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--white);
  position: absolute;
  top: 20%;
  width: 70%;
  text-align: justify;
  left: 10%;
  font-weight: 100;
}

.editorial__card__content a {
  text-transform: uppercase;
  color: var(--white);
  border: .2rem solid var(--white);
  padding: .5rem 1rem;
  border-radius: .5rem;
  position: absolute;
  top: 47%;
  left: 10%;
}

.editorial__card__content a:hover {
  color: var(--royal-gold);
  border: .2rem solid var(--royal-gold);
}

.footer {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-color: var(--black);
}

.footer__container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.footer__content {
  justify-content: center;
  gap: 100px;
  display: flex;
  flex-direction: row;
  border-bottom: .15px solid var(--light-white);
  margin-top: 3em;
  padding-bottom: 13rem;
  width: 100%;
}

.footer__content h3 {
  font-size: 2rem;
  line-height: 3rem;
}

.footer__content ul {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.footer__content ul li {
  color: var(--light-white);
}

.footer__content ul li a {
  list-style-type: none;
  color: var(--light-white);
}

.footer__content ul li a:hover {
  color: var(--royal-gold);
}

.footer__content ul li i {
  margin-right: .5em;
}

.footer__content .footer__content__2 ul li #faq {
  text-transform: uppercase;
}

.footer__content .footer__content__3 #email {
  text-transform: none;
}

.form_container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.form_container h3 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.form_container p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--light-white);
}

.form_container label {
  display: block;
  font-size: 1.5rem;
  color: var(--light-white);
}

.form_container input {
  color: var(--white);
  font-size: 1.8rem;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border-bottom: 2px solid var(--light-white);
  margin-bottom: 3rem;
}

.form_container button {
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color: var(--white);
  transition: all .2s ease-in-out;
  padding: 1.2rem 3rem;
  width: 80%;
  border-radius: .3rem;
}

.form_container button:hover {
  /* filter: brightness(.8); */
  color: var(--black);
  background-color: var(--white);
}

.closing_footer {
  display: flex;
  color: var(--light-white);
  font-size: 2rem;
}

.secure-payment {
  position: absolute;
  top: 85%;
  right: 10%;
  font-size: 1.8rem;
  color: var(--light-bg);
}

.secure-payment:hover {
  color: var(--light-white);
}

.secure-payment a i {
  vertical-align: middle;
  color: var(--light-bg);
  margin-right: 1rem;
  font-size: 3rem;
}

.secure-payment a i:hover {
  color: var(--royal-gold);
}