@import url(https://fonts.googleapis.com/css?family=Poppins:500,700,800);

:root{
   --green:#00E77F;
   --royal-green: #136207;
   --white:#fff;
   --light-white:#aaa;
   --black:#3d3d3d;
   --light-bg:#4b4b4b;
   --royal-gold: #F5BD02;
}

* {
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   list-style: none;
   text-decoration: none;
   transition: .2s linear;
   text-transform: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  background-position: center;
  background-size: 1000px 1000px;
  background-attachment: fixed;
  object-fit: cover;
  background-repeat: no-repeat;
}

body::before {
  opacity: 0.5;
}

*::selection {
  background-color: var(--white);
  color:var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

section {
  position: relative;
  padding: 2rem 10%;
}

::-webkit-scrollbar {
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--royal-gold);
  border-radius: 5rem;
}

section{
  max-width: 2000px;
  margin:0 auto;
  padding: 2rem 10%;
}


.header {
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 1.5em;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  transition: all 0.3s ease-in-out;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: .2rem solid var(--royal-gold); */
  position: relative;
}

.img_logo img {
  border: none;
  max-width: 80px;
  max-height: 80px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.img_logo:hover {
  transform: scale(1.1);
}

.logo {
  font-weight: 700;
  font-size: 4rem;
  color:var(--royal-gold);
  text-align: center;
}

#shop {
  color:var(--royal-green);
  text-transform: uppercase;
}

.logo h1 {
  text-transform: uppercase;
}

.logo:hover h1 {
  transform: scale(1.1);
}

ul {
  display: flex;
}

li, a {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--royal-gold);
}

#logo__beneath {
  font-size: 1.6rem;
  position: absolute;
  right: 42%;
  top: 70%;
  font-weight: 100;
  color: var(--royal-gold);
  text-transform: capitalize;
}

.shop__list {
  position: relative;
}

.shop__list a {
  display: flex;
}

.shop__menu {
  display: none;
  position: absolute;
  padding: 10rem;
  margin: .1rem .1rem;
  width: 1500px;
  background-color: var(--white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.shop__menu li a {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-size: 1.5rem;
  color: var(--royal-gold);
}

.sub__menu {
  position: absolute;
  padding: 2rem;
  margin: 5rem 5rem;
  background-color: var(--white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
  border-radius: 1rem;
  display: none;
}

.shop__list:hover .shop__menu {
  display: block;
}

.shop__menu::before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--white);
  padding: 2rem;
  border: 4rem;
}

.sub__menu2 {
  display: none;
}

.header .navbar  a {
  margin-left: 2rem;
  color: var(--royal-gold);
  font-size: 2rem;
  text-transform: capitalize;
}

.header .navbar a:hover{
  color:var(--royal-green);
}

#menu-btn{
  cursor: pointer;
  color:var(--white);
  font-size: 2.5rem;
  display: none;
}

.useful__links {
  display: block;
}

.btn__div {
  display: flex;
}

.fa-search {
  font-size: 3rem;
  background: transparent;
  color: var(--royal-gold);
  cursor: pointer;
}

.fa-search:hover {
  color:var(--royal-green);
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150%, 1fr));
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: var(--white);
  position: relative;
  overflow: hidden;
  /* min-width: 2000px; */
  padding: 2rem 10%;
}

.slide_container {
  display: flex;
  flex-direction: row;
  padding: 4rem 0;
  position: relative;
}

.slide__content {
  margin: 0 4rem;
  overflow: hidden;
}

.card {
  display: block;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  background-color: transparent;
}

.image__content, 
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  text-align: center;
  color: var(--white);
}

.card__content {
  row-gap: 2rem;
  position: absolute;
}

.card__content h3 {
  font-size: 12rem;
  color: var(--royal-green);
  line-height: 1.2;
  text-transform: uppercase;
}

.card__content h1 {
  font-size: 8rem;
  line-height: 1.2;
  text-transform: capitalize;
}

.card__content p {
  font-size: 4rem;
  line-height: 1.2;
  text-transform: capitalize;

}

.image__content {
  row-gap: 4rem;
  position: relative;
  padding: 3rem 0;
}

.card__img {
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent;
}

.card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1000;
}

.swiper-navBtn {
  color: var(--royal-gold);
  transition: color .3s ease;
}

.swiper-navBtn:hover {
  color: var(--royal-green);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 4rem;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev  {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--royal-gold);
  opacity: 1;
  transition: all .3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--royal-green);
}


/* .home .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  font-size: 4rem;
  color: var(--white);
  position: relative;
}

.row .hero__img {
  height: 100vh;
  min-width: 2000px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: none;
  position: absolute;
  background: url('../Assets/woman\ fashion\ three.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.row .hero__img___2 {
  background: url(../Assets/woman\ fashion\ two.jpg) no-repeat;
}

.hero__img img {
  width: 200px;
  display: none;
}

.home .row .content{
  flex:1 1 40rem;
  text-align: center;
  background: transparent;
}

.row h3 {
  text-transform: uppercase;
  color: var(--royal-green);
}

.row h1 {
  text-transform: capitalize;
  color: var(--white );
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 4rem;
  border: 2px solid var(--white);
  border-radius: 2rem;
  color: var(--white);
  font-size: 4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--royal-gold);
  color: var(--royal-green);
  border: 2px solid var(--royal-gold);
}

.home .row .image{
  flex:1 1 40rem;
}

.home .row .image img{
  width: 100%;
}

.home .row .content h3{
  margin-bottom: 1rem;
  font-size: 10rem;
  color:var(--white);
  line-height: 1;
}

.sub__home {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-attachment: fixed;
  background: url('../Assets/woman\ fashion\ one.jpg');
  z-index: 1000;
} */


.section__products {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  font-size: 4rem;
  color: var(--white);
  position: relative;
  overflow: hidden;
  padding: 2rem 10%;
  flex-flow: row wrap;
}

.img__slider  img {
  border-radius: 2rem;
  border-width: 0.2rem;
  border-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-left: 1rem;
  /* margin-top: 9rem; */
  object-fit: cover;
  width: 20%;
  height: 100%;
  animation-name: slider;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  justify-content: space-evenly;
  transform: translate(-1500px);
}

@keyframes slider {
  0% {
    transform: translate(0px);
  }
  20% {
    transform: translate(0px);
  }
  25% {
    transform: translate(800px);
  }
  45% {
    transform: translate(800px);
  }
  50% {
    transform: translate(160px);
  }
  75% {
    transform: translate(2400px);
  }
  95% {
    transform: translate(2400px);
  }
  100% {
    transform: translate(0px);
  }
}
.img-slider:hover {
  animation-play-state: paused;
}

div::after {
  content: "";
  font-size: 150px;
  position: absolute;
  z-index: 12;
  color: rgba(255, 255, 255, 0);
  left: 300px;
  top: 80px;
  transition: 1s all ease-in-out;
}

.orders {
  margin-top:20rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-size: 2rem;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 0.97);
  background-color: rgb(73, 78, 76);
  padding: 10px 10px;
  cursor: pointer;
}

.orders:hover {
  color: rgb(73, 78, 76);
  background-color: var(--green);
}
.orders:active {
  opacity: 0.8;
}
#shop-now {
  font-weight: 200;
  color: rgb(227, 255, 15);
}
#shop-now:hover{
  text-decoration: underline;
  color: rgb(73, 78, 76);
  
}

#shop-now:active {
  opacity: 0.7;
}

h3 {
  font-size: 6rem;
  color: var(--green);
}